name: Deploy to SFTP

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install LFTP
        run: sudo apt-get install -y lftp

      - name: Deploy via LFTP
        run: |
          lftp -e "set sftp:auto-confirm yes; mirror -R --verbose --parallel=2 ./ ${{ secrets.TARGET_DIR }}; bye" \
          -u "${{ secrets.SFTP_USERNAME }},${{ secrets.SFTP_PASSWORD }}" \
          sftp://${{ secrets.SFTP_SERVER }}
